@using AuctionsApp.Data.Entity
@model Listing
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Details";
}


@if (User.Identity!.IsAuthenticated)
{
    @if(Model.IsSold == true)
    {
        @foreach (var item in Model.Bids!)
        {
            @if(item.Price == Model.Price)
            {
                @if(item.IdentityUserId == userManager.GetUserId(User))
                {
                    <h4><i class="fw-bold text-primary">Congratulations</i>, you are the winner!</h4>
                }
                else if(userManager.GetUserId(User) == Model.User?.Id)
                {
                    <h4><i class="fw-bold text-primary">@item.User?.UserName</i> is the winner!</h4>
                }
                else
                {
                    <h4>Biding is closed!</h4>
                }
            }
        }        
    }
}

<h2 class="text-center">@Model.Title</h2>
<div class="container bg-secondary" style="margin-top: 50px; margin-bottom: 50px; padding: 20px; border-radius: 10px;">
    <div class="row">
        <div class="col col-xs-6 col-lg-5">
            <img src="~/Images/@Model.ImagePath" style="width: 100%; max-height: 60vh;" />
        </div>

        <div class="col col-xs-6 col-lg-7">
            <div class="my-2">
                @Model.Description
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="AddBid" method="post">
                    <div>
                        Bid: <input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" />
                        <input type="hidden" class="form-control" name="IdentityUserId" value="@userManager.GetUserId(User)" />
                        <input type="hidden" class="form-control" name="ListingId" value="@Model.Id" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>


<div>
    @if (User.Identity.IsAuthenticated)
    {
        @if (userManager.GetUserId(User) == Model.User?.Id)
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <span> | </span>
        }
    }
    <a asp-action="Index" class="mx-3">Back to List</a>
</div>
